:root {
  --blue-900: #171821;
  --blue-700: #21222d;
  --blue-500: #22aef5;
  --gray-500: #76767a;
  --gray-100: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--blue-900);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
span,
p,
input {
  font-family: "Roboto", sans-serif;
}
